@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  .section__pic-container {
    justify-content: center;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .about-containers {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .section__pic-container {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .profile-pic {
    width: 300px !important;
    height: 400px !important;
  }
  .surf-pic {
    width: 300px !important;
    height: 500px !important;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 17vh;
  }
  section {
    margin: 0;
  }
  .section__text {
    margin: auto;
  }

  article {
    font-size: 1rem;
  }

  .about-details-container,
  .experience-details-container {
    width: 80%;
  }

  h1,
  h2,
  p {
    font-size: medium;
  }

  input {
    height: 30px;
    width: 250px;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
    gap: 2rem;
  }

  .end-footer {
    font-size: 14px;
  }

  .nav-links {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-links > li {
    margin: 10px;
  }
}
